In [1]:
import numpy as np
import pandas as pd
# import scipy
import sklearn
from sklearn.metrics.pairwise import cosine_similarity
import nltk
import re
import json
from os.path import join
from sklearn.feature_extraction.text import TfidfVectorizer
# from collections import defaultdict
# import pickle
# import pymorphy2

In [2]:
input_folder_path = 'csv_scored_dialogs'
output_folder_path = 'vectorized'
group_id = 145254340

In [6]:
df_dialogs = pd.read_csv(join(input_folder_path, '{}.csv'.format(group_id)))
df_dialogs[10:20]

,user_id,dialog_number,message_number,text,is_income,score,tokens
10,2486613,11,4,üòÇ,0,1.0,"[[""\ud83d\ude02""]]"
11,2486613,11,5,üòÇ,1,1.0,"[[""\ud83d\ude02""]]"
12,2486613,11,6,–º –∂?,1,1.0,"[[""\u043c""], [""\u0436""], [""?""]]"
13,2486613,11,7,–º,0,1.0,"[[""\u043c""]]"
14,2486613,11,8,–º–∏–ª–µ–Ω—å–∫–æ,1,1.0,"[[""\u043c\u0430\u043b\u0435\u043d\u044c\u043a\..."
15,2486613,11,9,–∞ —Ç–æ,0,1.0,"[[""\u0430""], [""\u0442\u043e""]]"
16,2486613,11,10,üòÇ,0,1.0,"[[""\ud83d\ude02""]]"
17,2486613,11,11,–∫–∞–∫ –¥–µ–ª–∞?,1,1.0,"[[""\u043a\u0430\u043a""], [""\u0434\u0435\u043b\..."
18,2486613,11,12,–æ—Ç–ª–∏—á–Ω–æ,0,1.0,"[[""\u043e\u0442\u043b\u0438\u0447\u043d\u043e""]]"
19,2486613,11,13,—Å–∫–æ–ª—å–∫–æ –ª–µ—Ç?,1,1.0,"[[""\u0441\u043a\u043e\u043b\u044c\u043a\u043e""..."

In [7]:
flatten = lambda l: [item for sublist in l for item in sublist]
df_dialogs.loc[:, 'tokens'] = df_dialogs['tokens'].apply(lambda x: ' '.join(flatten(json.loads(x))))
df_dialogs[10:20]

,user_id,dialog_number,message_number,text,is_income,score,tokens
10,2486613,11,4,üòÇ,0,1.0,üòÇ
11,2486613,11,5,üòÇ,1,1.0,üòÇ
12,2486613,11,6,–º –∂?,1,1.0,–º –∂ ?
13,2486613,11,7,–º,0,1.0,–º
14,2486613,11,8,–º–∏–ª–µ–Ω—å–∫–æ,1,1.0,–º–∞–ª–µ–Ω—å–∫–æ
15,2486613,11,9,–∞ —Ç–æ,0,1.0,–∞ —Ç–æ
16,2486613,11,10,üòÇ,0,1.0,üòÇ
17,2486613,11,11,–∫–∞–∫ –¥–µ–ª–∞?,1,1.0,–∫–∞–∫ –¥–µ–ª–æ ?
18,2486613,11,12,–æ—Ç–ª–∏—á–Ω–æ,0,1.0,–æ—Ç–ª–∏—á–Ω–æ
19,2486613,11,13,—Å–∫–æ–ª—å–∫–æ –ª–µ—Ç?,1,1.0,—Å–∫–æ–ª—å–∫–æ –≥–æ–¥ ?

In [8]:
df_ins = df_dialogs.query('is_income == 1')
df_outs = df_dialogs.query('is_income == 0')
df_outs[10:20]

,user_id,dialog_number,message_number,text,is_income,score,tokens
16,2486613,11,10,üòÇ,0,1.0,üòÇ
18,2486613,11,12,–æ—Ç–ª–∏—á–Ω–æ,0,1.0,–æ—Ç–ª–∏—á–Ω–æ
21,2486613,11,15,—É —Ç–µ–±—è?,0,1.0,—É —Ç—ã ?
22,2486613,11,16,19,0,1.0,19
23,2486613,11,17,–º–æ—Å–∫–≤–∞,0,1.0,–º–æ—Å–∫–≤–∞
25,2486613,11,19,–∞ —Ç—ã?,0,1.0,–∞ —Ç—ã ?
27,2486613,11,21,–¥–∞ —è –ø—Ä–æ –≥–æ—Ä–æ–¥,0,1.0,–¥–∞ —è –ø—Ä–æ –≥–æ—Ä–æ–¥
29,2486613,11,23,–æ–æ,0,1.0,–æ–Ω
30,2486613,11,24,–≤ —É–∫—Ä–∞–∏–Ω–µ –¥–µ–≤—É—à–∫–∏ 10/10,0,1.0,–≤ –æ–∫—Ä–∞–∏–Ω–∞ –¥–µ–≤—É—à–∫–∞ 10/10
31,2486613,11,25,üòÇ,0,1.0,üòÇ

In [9]:
df_ins_good = df_ins.query('score == 1').groupby(('user_id', 'dialog_number')).agg({'tokens': lambda x: ' '.join(x)})
df_ins_bad = df_ins.query('score == -1').groupby(('user_id', 'dialog_number')).agg({'tokens': lambda x: ' '.join(x)})

df_outs_good = df_outs.query('score == 1').groupby(('user_id', 'dialog_number')).agg({'tokens': lambda x: ' '.join(x)})
df_outs_bad = df_outs.query('score == -1').groupby(('user_id', 'dialog_number')).agg({'tokens': lambda x: ' '.join(x)})

df_outs_all = df_outs.groupby(('user_id', 'dialog_number')).agg({'tokens': lambda x: ' '.join(x)})

df_outs_bad[10:20]

                                                                   tokens
user_id  dialog_number
14703830 10                                                 –ø—Ä–∏–≤–µ—Ç –ø—Ä–∏–≤–µ—Ç
49064425 7                                          —Ö–∞–π –ø–æ–π—Ç–∏ —Ä–∞–∑—É—Ç—å —Å—Ç–æ–ª
         17             –ø—Ä–∏–≤–µ—Ç , –∫–∞–∫ –∑–≤–∞—Ç—å ? –ø—Ä–∏–≤–µ—Ç , –∫–∞–∫ –∑–≤–∞—Ç—å ? —Å—Ç–æ–ª...
         21                                     –ø—Ä–∏–≤–µ—Ç , –∫–∞–∫ –∑–≤–∞—Ç—å ? —Å—Ç–æ–ª
50998261 6              –ø—Ä–∏–≤–µ—Ç , —è –∑–≤–∞—Ç—å –º–∏—Ç—Ä–∏–π , —è –∏–∑ –º–æ—Å–∫–≤–∞ –ø—Ä–∏–≤–µ—Ç ,...
         7                                        –¥–µ–Ω—å –¥–æ–±—Ä—ã–π –¥–µ–Ω—å –¥–æ–±—Ä—ã–π
         10               –¥–∞ —Ç—ã –∑–∞–µ—Ö–∞—Ç—å , –ø–æ–∑–≤–æ–Ω–∏—Ç—å –º–∞–º–∞ —Å–≤–æ–µ–π —É–∂–µ üòÇ —Å—Ç–æ–ª
         16             –º–∏—Ç—Ä–∏–π , 20 –≥–æ–¥ , –º–æ—Å–∫–≤–∞ –º–∏—Ç—Ä–∏–π , 20 –≥–æ–¥ , –º–æ—Å...
         29             –º–∏—Ç—Ä–∏–π 20 –≥–æ–¥ , –∂–∏—Ç—å –≤ –º–æ—Å–∫–≤–∞ –º–∏—Ç—Ä–∏–π 20 –≥–æ–¥ , ...
         32                                 –º–∏—Ç—Ä–∏–π 20 –≥–æ–¥ , –∂–∏—Ç—å –≤ –º–æ—Å–∫–≤–∞

In [10]:
joined_ins_good = df_ins_good.groupby('user_id').agg({'tokens': lambda x: ' '.join(x)})
joined_ins_bad = df_ins_bad.groupby('user_id').agg({'tokens': lambda x: ' '.join(x)})

joined_outs_good = df_outs_good.groupby('user_id').agg({'tokens': lambda x: ' '.join(x)})
joined_outs_bad = df_outs_bad.groupby('user_id').agg({'tokens': lambda x: ' '.join(x)})

joined_ins_good[10:20]

                                                     tokens
user_id
42312193  –º –∏–ª–∏ –∏ –∫–∞–∫ –∑–≤–∞—Ç—å ? —Å –≥–æ–¥ –º –≥–¥–µ –∂–∏—Ç—å ? –Ω—É –º—ã –∏...
42409559  –∫ —à–æ –∏ —Ä–æ–±–∏—à –Ω—É –¥–∞ –∞ —á—Ç–æ –Ω–µ–∑–Ω–∞—Ç—å –∞ —Ç–æ–±–∏ —á—Ç–æ ? ...
47591859  –ø—Ä–∏–≤–µ—Å—Ç–∏ —Ç—ã –¥–∞–∞.. —Ç–∞–∫.. –Ω–µ –≤–∞–∂–Ω—ã–π –Ω–µ—Ç –¥–∞ 12 –æ–±...
47904153  –ø—Ä–∏–≤–µ—Ç —Ç—ã –≤ –∫–∞–∫–æ–π –≥–æ—Ä–æ–¥ ? –∫–∞–ª—É–≥–∞ –Ω–∞ —Å–∫–æ–ª—å–∫–æ —Ç—ã...
49064425  –∏ ? ) ) –∏ ) –∫–∞–∫ –∑–≤–∞—Ç—å ? –Ω–∞ ) —Å–∫–æ–ª—å–∫–æ –≥–æ–¥ ? –∏ —è...
50998261  —Ö–µ–ª–æ—É –∫–∞–∫ –ø–æ–∂–∏–≤–∞—Ç—å ? –ø–æ—á–µ–º—É –Ω–µ –æ—Ç–≤–µ—á–∞—Ç—å ( ( –Ω—É...
51523067  –ø—Ä–∏–≤–µ—Ç –∫–∞–∫ –∑–≤–∞—Ç—å ? –º–∞—Ä–∏–Ω–∞ –ø—Ä–∏—è—Ç–Ω–æ –ø–æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å...
57372775  —Ö–∞–π –º –∂ ? —Å–∏–¥–µ—Ç—å ? –¥–∞ —Ç–∞–∫ —Ç—ã —Å –ª—ë–≥–∫–æ—Å—Ç—å –ø—Ä–∏–±—É—Ö...
57551477  –∑–¥—Ä–∞–≤—Å—Ç–≤–æ–≤–∞—Ç—å –¥–µ–≤—É—à–∫–∞ , —á—É—Ç—å –º–∞–ª–µ–Ω—å–∫–∏–π –≤–æ–∑–º–æ–∂–Ω...
58255538  –¥–æ—Ä–æ–≥–∞ –Ω–µ –∑–Ω–∞—é.. —Ç–æ—Ç , –Ω–∞–¥–æ –ø–æ–¥—É–º–∞—Ç—å —Ç—Ä—É–¥–Ω–æ –∞—Ö...

In [11]:
vectorizer = TfidfVectorizer(min_df=1)
vectorizer.fit(df_dialogs['tokens'])

keys = ['good_ins', 'good_outs', 'bad_ins', 'bad_outs']
vectors = dict()

# vectors['good_ins'] = {'ids': joined_ins_good.loc[:, 'tokens'], 'vecs': vectorizer.transform(joined_ins_good['tokens'])}
# vectors['good_outs'] = {'ids': joined_outs_good.loc[:, 'tokens'], 'vecs': vectorizer.transform(joined_outs_good['tokens'])}
# vectors['bad_ins'] = {'ids': joined_ins_bad.loc[:, 'tokens'], 'vecs': vectorizer.transform(joined_ins_bad['tokens'])}
# vectors['bad_outs'] = {'ids': joined_outs_bad.loc[:, 'tokens'], 'vecs': vectorizer.transform(joined_outs_bad['tokens'])}
vectors['good_ins'] = joined_ins_good
vectors['good_outs'] = joined_outs_good
vectors['bad_ins'] = joined_ins_bad
vectors['bad_outs'] = joined_outs_bad

In [12]:
keys = ['good_ins', 'good_outs', 'bad_ins', 'bad_outs']
for key in keys:
    vectors[key].loc[:, 'token_count'] = vectors[key]['tokens'].str.count(' ') + 1
# joined_ins_good.loc[:, 'token_count'] = joined_ins_good['tokens'].str.count(' ') + 1
# joined_ins_good

In [13]:
keys = ['good_ins', 'good_outs', 'bad_ins', 'bad_outs']
mats = dict()
for key in keys:
    mats[key] = vectorizer.transform(vectors[key]['tokens'])

In [14]:
mats

{'bad_ins': <650x31479 sparse matrix of type '<type 'numpy.float64'>'
 	with 5180 stored elements in Compressed Sparse Row format>,
 'bad_outs': <530x31479 sparse matrix of type '<type 'numpy.float64'>'
 	with 3087 stored elements in Compressed Sparse Row format>,
 'good_ins': <1679x31479 sparse matrix of type '<type 'numpy.float64'>'
 	with 249410 stored elements in Compressed Sparse Row format>,
 'good_outs': <1679x31479 sparse matrix of type '<type 'numpy.float64'>'
 	with 230630 stored elements in Compressed Sparse Row format>}

In [15]:
vectors['good_ins'].head()

                                                     tokens  token_count
user_id
2486613   –ø—Ä–∏–≤–µ—Ç üòÇ –º –∂ ? –º–∞–ª–µ–Ω—å–∫–æ –∫–∞–∫ –¥–µ–ª–æ ? —Å–∫–æ–ª—å–∫–æ –≥–æ–¥...          510
6255780   –∫–∞–∫ –ø–æ–∂–∏–≤–∞—Ç—å ? –∑–∞—Å –∫–∞–º–∏–Ω –∞ —Ç—ã –∫–∞–∫ ? —Ä—É—Å—Å–∫–∏–π –∫—Ä...           61
14703830  —Å–ø–µ—Ä–µ—Ç—å , –º—ã —Ç–µ–ø–µ—Ä—å –æ–±—â–∞—Ç—å—Å—è ! –ø–æ —Å–∫–æ–ª—å–∫–æ —Ç—ã —Ç...          269
21074046  –Ω—É –ø–æ—á—Ç–∏ —Ö–∞—Ö —Å–ª—ã—à—å —Å–ª—ã—à–∞—Ç—å —Ö–∏—Ç–æ–Ω —É—Å–∞—Ç—ã–π —ç—Ç–æ –Ω–µ...          112
26153234  –¥—Ä–æ–≤–∞ —Ç–æ—Ç –Ω–æ—Ä–º–∞ —Ç–æ–ª—å–∫–æ –∞–ª–ª–µ—Ä–≥–∏—è –Ω–∞ —á—Ç–æ —Ç–æ –∞ –≤ ...          165

In [16]:
vectors['good_outs'].head()

                                                     tokens  token_count
user_id
2486613   –ª–æ–± –ø—Ä–∏–≤–µ—Ç —Å–æ—Ä—è–Ω–∏–Ω –∑–∞ –ª–æ–± üòÇ –º –∞ —Ç–æ üòÇ –æ—Ç–ª–∏—á–Ω–æ —É...          835
6255780   –ø—Ä–∏–≤–µ—Ç –æ—Ç–ª–∏—á–Ω–æ —Ç—ã ? –∫–∞–∫ —Ç—ã –∑–≤–∞—Ç—å ? –∫—Ç–æ –ø–æ –Ω–∞—Ü–∏...          108
14703830  –ø—Ä–∏–≤–µ—Ç ) 25 –∏ –Ω–µ –∞–Ω–æ–Ω–∏–º–Ω—ã–π –∂–µ –Ω–µ –Ω–∏–∑—è—Ç—å –∑–∞—á–µ–º ...          314
21074046  —á—è—Ç —É —Å—É–∫ –æ—Ç –µ–±–∞–Ω—ã–π –¥–∏–Ω–∞—Ö—É–π —Å –º–æ–π –æ–≥—É—Ä–µ—Ü —á–µ–≤–æ—Ç...          334
26153234  –∫ –∫ —Ä—ë –∫–∞–º–æ ? –Ω–∞ —Ç—É–ø–æ–π –ø—Ä–∏–∫–æ–ª –Ω–∞–≤–µ—Ä–Ω–æ ? —è –∑–∞—Å ...          153

In [17]:
rates = sklearn.metrics.pairwise.pairwise_distances(X=mats['good_ins'], Y=mats['good_outs'], metric='cosine')

In [18]:
rates.shape

(1679, 1679)

In [19]:
user_ids_mapper = vectors['good_ins'].reset_index()

In [20]:
rating = np.flip(np.argsort(rates, axis=1), axis=1)
rating

array([[ 776,  462,  265, ...,  326,   35,  723],
       [ 535,  915,  265, ..., 1568,  399, 1469],
       [ 265,  462, 1436, ..., 1568, 1033, 1075],
       ...,
       [ 915,  462,  368, ..., 1104,  610, 1132],
       [ 265, 1269, 1436, ...,  627,  467,  273],
       [1131,  726,  954, ..., 1324, 1469,  399]])

In [21]:
def mapper(x):
    delim = int(x['token_count'] * .8)
#     .split()
    splitted = x['tokens'].split(' ')
    
    x['tokens_train'] = ' '.join(splitted[:delim])
    if len(splitted) == 1:
        x['tokens_test'] = ''
    else:
        x['tokens_test'] = ' '.join(splitted[delim:])
    return x

In [22]:
# vectors['bad_outs'].apply(mapper, axis=1)
keys = ['good_ins', 'good_outs', 'bad_ins', 'bad_outs']
# mats = dict()
for key in keys:
    vectors[key] = vectors[key].apply(mapper, axis=1)

In [23]:
for i in xrange(11):
    print 'top for {}'.format(user_ids_mapper.loc[i,'user_id'])
    print user_ids_mapper.loc[rating[i],'user_id'][:11]
#     print rating[i]

top for 2486613
776     302710424
462     236534735
265     185408823
1269    400135705
1436    420317557
535     251143860
726     291402491
897     327965371
58      120055759
211     173856007
1152    380145994
Name: user_id, dtype: int64
top for 6255780
535     251143860
915     332079891
265     185408823
598     262877041
58      120055759
1436    420317557
1269    400135705
334     205716296
1352    410729067
1521    429866466
716     288098385
Name: user_id, dtype: int64
top for 14703830
265     185408823
462     236534735
1436    420317557
1269    400135705
617     266195888
726     291402491
535     251143860
897     327965371
716     288098385
1671    447769541
776     302710424
Name: user_id, dtype: int64
top for 21074046
472     238344645
535     251143860
265     185408823
1269    400135705
1436    420317557
1521    429866466
1253    397239574
1675    450726385
1059    363129603
598     262877041
462     236534735
Name: user_id, dtype: int64
top for 26153234
462     236534735
265     185408823
761     299820361
1269    400135705
897     327965371
489     240909176
1671    447769541
1049    361212874
1436    420317557
985     345859922
211     173856007
Name: user_id, dtype: int64
top for 30041521
630     270136407
1671    447769541
314     199354776
776     302710424
387     216902264
462     236534735
726     291402491
897     327965371
265     185408823
1269    400135705
924     334098511
Name: user_id, dtype: int64
top for 32410414
954     341050239
776     302710424
897     327965371
462     236534735
265     185408823
1269    400135705
1436    420317557
598     262877041
1521    429866466
880     324510531
617     266195888
Name: user_id, dtype: int64
top for 39496692
873     322730557
897     327965371
265     185408823
1436    420317557
1269    400135705
535     251143860
973     343516151
726     291402491
1131    376990774
955     341225463
1651    443492300
Name: user_id, dtype: int64
top for 39956517
535     251143860
265     185408823
1269    400135705
897     327965371
58      120055759
472     238344645
1131    376990774
491     241533209
716     288098385
1253    397239574
598     262877041
Name: user_id, dtype: int64
top for 41261344
776     302710424
265     185408823
1269    400135705
927     334328483
1436    420317557
897     327965371
1253    397239574
304     196170426
327     202572480
211     173856007
598     262877041
Name: user_id, dtype: int64
top for 42312193
535     251143860
265     185408823
598     262877041
1269    400135705
1436    420317557
761     299820361
897     327965371
1059    363129603
58      120055759
1189    386880172
1131    376990774
Name: user_id, dtype: int64