## Общая информация

дата сбора статистики: 14 ноября 2017

время последнего диалога:

время первого диалога:

всего диалогов:

всего юзеров:

диалогов на среднестатистического юзера:

максимальное число диалогов на юзера: 743

это за период с 28 июня по 14 ноября 2017 года (139 дней)

то есть 5.35 диалогов в сутки

In [27]:
# Python2
from os import listdir
from os.path import isfile, join
import re

import numpy as np
import pandas as pd

init_path = 'csv_histories'
group_id = 145254340

# group_ids = [int(re.split('\.', f)[0]) for f in listdir(init_path) if isfile(join(init_path, f))]
# for group_id in group_ids:
group_data = pd.read_csv(join(init_path, '{}.csv'.format(group_id)))
group_data.loc[:,'text'] = group_data.loc[:,'text'].str.decode('utf-8').str.lower()
keys = group_data['is_income'] == 1
group_data.loc[keys,'text'] = group_data[keys]['text'].str.slice(13)
group_data.head()

     user_id  dialog_number  message_number          text  is_income
0  402472964              0               0   приветствую          1
1  402472964              0               1  здрастееэээ?          1
2  402472964              0               2         эм...          1
3  402472964              0               3       мммм...          1
4  402472964              0               4  ты на связи?          1

In [36]:
dialogs_count = group_data.groupby('user_id').agg({'dialog_number': lambda x: np.max(x) + 1})
dialogs_count.sort_values('dialog_number', ascending=False)

           dialog_number
user_id
422045523            743
160180977            565
409391325            420
392172223            382
416778326            327
128571431            298
344901464            296
237511060            290
434282618            287
377452515            269
441223446            231
356990612            228
252048086            227
357297332            216
300069729            210
406139844            206
446285333            203
402801403            202
229518899            200
182824137            186
423859354            184
391708739            181
315476716            178
308738330            171
220702722            167
315680051            166
356781292            155
377635143            152
259077676            152
225411002            151
...                  ...
314608650              1
315263576              1
315638028              1
315712162              1
315741425              1
316248054              1
316280880              1
316851232              1
317134364              1
317288650              1
313058044              1
312793727              1
309297132              1
312530558              1
309416540              1
309983044              1
310235163              1
310567923              1
310597088              1
310597660              1
310652654              1
310942394              1
310999074              1
311000191              1
311229398              1
311402019              1
311526417              1
311569445              1
311930502              1
454917234              1

[3975 rows x 1 columns]