In [8]:
# Python2
from os import listdir
from os.path import isfile, join
import re

import json

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

In [4]:
init_path = 'csv_tokens'
group_id = 145254340

In [5]:
group_data = pd.read_csv(join(init_path, '{}.csv'.format(group_id)))

In [6]:
group_data.head()

     user_id  dialog_number                                         top_tokens
0  282173420              0  {"\u0441\u043f\u0430": 1, "\u043a\u043e\u043b"...
1  282173420              1  {"\u044f\u043d\u0430": 1, "\u043a\u043e\u0435"...
2  282173420              2  {"kz\u0430": 1, "pik": 1, "\u0438\u043a\u0430"...
3  282173420              3  {"\u043e\u043b\u044c": 1, "\u044c\u043a\u043e"...
4  282173420              4  {"\u0438\u043a\u0435": 1, "\u043a\u043e\u043b"...

In [9]:
featured_data = group_data['top_tokens'].apply(json.loads)

In [10]:
featured_data.head()

0    {u'—Å–ø–∞': 1, u'–∫–æ–ª': 1, u'–æ–ª—å': 1, u'–∞–±–∞': 1, u...
1    {u'—è–Ω–∞': 1, u'–∫–æ–µ': 1, u'–∫–æ–ª': 1, u'–µ—á—Ç': 1, u...
2    {u'kz–∞': 1, u'pik': 1, u'–∏–∫–∞': 1, u'–∞—Ñ–æ': 1, u...
3    {u'—å–∫–æ': 1, u'–≤–µ—Ç': 1, u'–æ–ª—å': 1, u'–ø—Ä–∏': 1, u...
4    {u'–∏–∫–µ': 1, u'–∫–æ–ª': 1, u'–∏—Ü—É': 1, u'–∏–∫–æ': 1, u...
Name: top_tokens, dtype: object

In [13]:
stlst = list(featured_data)
stjson = json.dumps(stlst)

In [14]:
group_data = group_data.join(pd.read_json(stjson))

In [15]:
group_data.head()

,user_id,dialog_number,top_tokens,!!,!!!,"!!""",!!(,!!),!!*,"!!,",...,ÔºàÔºæ‚óá,ÔºâüòÇ,ÔºèÔø£Ôºû,ÔºúÔø£ÔΩÄ,Ôºüüòè,Ôºæ‚óáÔºæ,ÔΩ°^‚Äø,ÔΩ°ÔΩ°ÔΩ°,ÔΩ°ÔΩ°ÔΩ•,ÔΩ•ÔΩ°ÔΩ°
0,282173420,0,"{""\u0441\u043f\u0430"": 1, ""\u043a\u043e\u043b""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,282173420,1,"{""\u044f\u043d\u0430"": 1, ""\u043a\u043e\u0435""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,282173420,2,"{""kz\u0430"": 1, ""pik"": 1, ""\u0438\u043a\u0430""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,282173420,3,"{""\u043e\u043b\u044c"": 1, ""\u044c\u043a\u043e""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,282173420,4,"{""\u0438\u043a\u0435"": 1, ""\u043a\u043e\u043b""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TypeError: 'tuple' object is not callable